.admin-menu {
    background-color: #243053;
    color: white;
    height: 100%;
}
.admin-menu-header{
    padding: 15px 20px;
    font-weight: 200;
    font-size: 20px;
    background-color: #272727;
    justify-content: space-between;
}
.admin-menu-list li {
    padding: 9px 10px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.admin-menu-list li:hover {
    background-color: #EE0D09;
}

