.home-bg{
    margin-top: 100px;
    background-image:url('../../assets/images/banner/banner1.jpg')
}
.about-bg{
    margin-top: 100px;
    padding-top: 200px;
    background-image:url('../../assets/images/banner/banner5.jpg')
}
.bolder{
    font-weight: bold;
    font-size: 35px;
}
.sec-bg{
    background-size: auto;
    background-image: url("../../assets/images/banner/banner5.jpg");
}
.service-bg{
    margin-top: 100px;
    padding: 150px 10px;
    background-image:url('../../assets/images/banner/banner6.jpg');
}
.contact-bg{
    margin-top: 100px;
    padding-top: 200px;
    background-image:url('../../assets/images/banner/banner5.jpg')
}
.contact-map iframe{
    width: 100%;
    height: 400px;
}
.unAuthorized-image img{
    width: 100%;
    height: 90vh;
    margin-top: 115px;
    background-color: #FFA918;
}