header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000 !important; 
  background-color: white !important; /* make sure it's visible */
}
.mobile-view {
  position: fixed;
  top: 0;
  left: 90px;
  width: 80%;
  background-color: white;
  z-index: 700; /* Ensure it's above other content */
}
.close-btn{
  padding-left: 90%;
}
.social-links ul{
  gap: 25px;
}
