header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000 !important; 
  background-color: white !important; 
}
.navigation li a:hover {
  border-bottom: 2px solid #ff5100 !important;
}
.navigation li a.active {
  border-bottom: 2px solid #ff5100 !important;
}
.navigation li a {
  color: black !important;
}
.log-out {
  background-color: #041b77 !important;
  color: white !important;
}
.mobile-view {
  position: fixed;
  top: 0;
  left: 90px;
  width: 80%;
  background-color: white;
  z-index: 700; /* Ensure it's above other content */
}
.close-btn{
  padding-left: 90%;
}
.social-links ul{
  gap: 25px;
}
